body {
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	color: #252525;
}

* {
	box-sizing: border-box;
}

.contato {
	background-color: #00b454;
	color: #fff;
	height: auto;
	padding-top: 5px;
}


/* Menu */

.menu img {
	width: 60px;
	height: 50px;
}

.menu a {
	margin-left: 20px;
	font-size: 1.325rem;
	font-weight: 400;
}

@media (max-width: 990px) {
	.menu ul {
		margin: 0 auto;
		max-width: 300px;
		background-color: #00b454;
		border-radius: 20px;
		margin-top: 5px;
	}
	.menu ul li {
		text-align: center;
		margin-left: 0;
		padding: 0;
	}

	.menu .navbar-light .navbar-nav .nav-link {
		color: #fff;
	}
}


/* Slide */

.slide h2 {
	font-weight: 700;
}

.slide p {
	font-weight: 400;
	font-size: 1.125rem;
}


/* Serviços */

.servicos {
	padding-top: 50px;
	padding-bottom: 50px ;
}

.title-section {
	font-size: 2rem;
	font-weight: 700;
	margin-bottom: 40px;
	border-bottom: 2px solid #00b454;
}

.servicos h3{
	font-weight: 700;
	text-align: center;
}

.servicos p {
	font-weight: 700;
	color: #00b454;
	text-align: center;
}

.servicos .card-one:hover {
	box-shadow: -10px 10px 20px rgba(0, 180, 84, 0.3);
}

/* Contato */
.localizacao {
	margin-bottom: 50px;
}
.localizacao h3{
	font-weight: 700;
} 

@media (max-width: 1280px) {

	.localizacao .mapa {
		text-align: center;
	}
	.localizacao iframe {
		max-width: 380px;
		text-align: center;
	}
}


/*Footer*/

.footer {
	padding-top: 20px;
	padding-bottom: 20px;
	background: #00b454;
	color: #fff;
}

.footer img{
	width: 130px;
}

.footer p {
	font-size: .8rem;
	text-transform: uppercase;
}

.footer .social-media a {
	text-decoration: none;
	color: #fff;
}

@media (max-width: 740px) {

	.footer div {
		flex-direction:column;
		align-items: center;
	}

	.footer .logo {
		margin-bottom: 20px;
	}

	.footer .social-media {
		margin-bottom: 20px;
	}

	.footer .social-media a{
		margin-bottom: 20px;
	}

	.footer .copyright {
		margin: 0 auto;
		order: 3;
	}
}